@import './texts.css';

body{
	margin:unset;
	font-family: 'Work Sans', sans-serif;
}

#navbar{
	position:fixed;
	top:0;
	left:0;
  right:0;
	height:80px;
	background:white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 112px;
	z-index: 10000;
}

#navbar >.left{
	display:flex;
	align-items: center;
	gap:14px;
}

#navbar >.left >svg{
	width:38px;
}
#navbar >.left h2{
	margin:unset;
	font-size: 30px;
	color: #2947A9;
	font-weight: 700;
}

#navbar >.right{
	display: flex;
	gap:50px;
}

#navbar >.right >a{
	font-size: 18px;
	color: #14171F;
	text-decoration: unset;
}

#navbar >.right >.orange{
	color:#F9995D;
	font-weight: 600;
}

#content{
  margin-top: 80px;
  background:orange;
  height:44vw;
  min-height: 646px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 16.58%, rgba(255, 255, 255, 0) 72.38%), url(img/header.jpg);
  background-size:cover;
  background-position: center 30%;
  padding-left:112px;
  display:flex;
  align-items: center;
  position:relative;
}

#content >h1{
	font-size: 85px;
	color: #292E3D;
	line-height: 95px;
	font-weight: 600;
}

#content >.featuresProjects{
	width:500px;
	height:235px;
	background:#3559C7;
	position:absolute;
	bottom:0;
	right:0;
	display:flex;
	flex-direction: column;
}
#content >.featuresProjects >.text{
	flex:1;
	text-align: center;
}
#content >.featuresProjects >.text >h2{
	margin:unset;
	font-weight: 700;
	color: #FFFFFF;
	font-size: 24px;
	margin-top: 25px;
}
#content >.featuresProjects >.text >p{
	margin:unset;
	font-size: 28px;
	line-height: 35px;
	color: #FFFFFF;
	margin-top: 25px;
	padding: 0 30px;
}
#content >.featuresProjects >.navigation{
	height:52px;
	background:rgb(255, 255, 255);
	display: flex;
	gap:1px;
}
#content >.featuresProjects >.navigation >button{
	width:50%;
	border:unset;
	background: #292E3D;
	font-size: 20px;
	color:#fff;
	display: flex;
	align-items: center;
	justify-content: center;
	gap:12px;
	line-height: 20px;
}
#content >.featuresProjects >.navigation >button >svg{
	width:30px;
}
#content >.featuresProjects >.navigation >.btn-next{
	flex-direction: row-reverse;
}
#content >.featuresProjects >.navigation >.btn-next >svg{
	transform: rotate(180deg);
}


#reputation{
	padding: 70px 0 110px 0;
}

#reputation >h2{
	text-align: center;
}

#reputation >.arguments{
	margin-top: 62px;
	display:flex;
	justify-content: center;
	gap:75px;

}

#reputation >.arguments >.card{
	width: 360px;
	box-sizing: border-box;
	padding: 26px 26px 48px;
	border: 1px solid #E0E3EB;
	border-radius: 4px;
}

#reputation >.arguments >.card >svg{
	width: 50px;
}

#reputation >.arguments >.card >h3{
	color:#3D445C;
	font-size: 26px;
	font-weight: 700;
	margin:unset;
	margin-top: 18px;
}

#reputation >.arguments >.card >p{
	margin:unset;
	color : #858EAD;
	margin-top: 18px;
	font-size: 19px;
	line-height: 24px;
}


#aboutus{
	margin-top: 74px;
	margin-bottom: 200px;

}
#aboutus>.content{
	width: 1600px;
	height: 890px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
#aboutus>.content>.avatar{
  height: 100%;
  display: inline-block;
  box-shadow: 0px 20px 24px -4px rgba(17, 24, 39, 0.1), 0px 8px 8px -4px rgba(17, 24, 39, 0.04);
  border-radius: 2px;

}
#aboutus>.content>.avatar>img{
	border-radius: 2px;
	height: 100%;
}

#aboutus>.content>.textabout{
	background: #2947A9;
	width: 650px;
	height: 695px;
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
	box-shadow: 0px 20px 24px -4px rgba(17, 24, 39, 0.1), 0px 8px 8px -4px rgba(17, 24, 39, 0.04);
	border-radius: 2px;
	

}
#aboutus>.content>.textabout>h1{
	font-weight: 700;
	font-size: 45px;
	line-height: 42px;
	color: #FFFFFF;
	margin-left: 53px;
	margin-top: 66px;


}
#aboutus>.content>.textabout>p{
	font-weight: 400;
font-size: 26px;
line-height: 30px;
margin-left: 53px;
margin-top: 66px;
color: #FFFFFF;
}

#aboutus>.content>.textabout>button{
	display: block;
	width: 291px;
	height: 70px;
	background: #FFFFFF;
	color: #2947A9;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	border: 2px solid #2947A9;
	font-weight: 600;
	font-size: 22px;
	margin-top: 98px;
	margin-left: 53px;

}