body{
    margin: unset;
    background: rgb(175, 175, 175);
    font-family: 'Work Sans';
}

#navbar{
    height: 80px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    
}

#navitems{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    gap: 50px;
    position: absolute;
    right: 112px;
    color: #14171F;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
    
}
#contactus{
    color: #F9995D
}

#thebox{
    position: absolute;
    width: 111px;
    height: 35px;
    left: 164px;
    top: 22px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #2947A9;
    
}
#img{
    position: absolute;
    width: 111px;
    height: 35px;
    left: 112px;
    width:38px;
    height: 47.5px;
    
}